html{

    scroll-behavior: smooth;

}

body {
    background: linear-gradient(to bottom right, rgb(142, 97, 97), gray) !important;
}

.navbar {
    background-color: #0000004f;
    display: flex;
    flex-direction: row;
}

.navbar h1{
    text-align: left;
}

.navbar li{
    text-align: center;
    justify-content: center;
}